@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#content1-4 DIV {
  font-family: 'Oswald', sans-serif;
  color: #513434;
}
#content1-4 UL {
  text-align: left;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#content1-9 DIV {
  font-family: 'Oswald', sans-serif;
  color: #513434;
}
#content1-9 UL {
  text-align: left;
}

#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-12 .mbr-navbar__section {
  background: #2c2c2c;
}
#content1-15 DIV {
  font-family: 'Oswald', sans-serif;
  color: #513434;
}
#content1-15 UL {
  text-align: left;
}

#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-18 .mbr-navbar__section {
  background: #2c2c2c;
}
#content1-21 DIV {
  font-family: 'Oswald', sans-serif;
  color: #513434;
}
#content1-21 UL {
  text-align: left;
}

#ext_menu-26 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-26 .mbr-navbar__section {
  background: #2c2c2c;
}
#content1-29 DIV {
  font-family: 'Oswald', sans-serif;
  color: #513434;
}
#content1-29 UL {
  text-align: left;
}
